<div id="container">
    <img src="images/airasoul.png" id="logo"/>
    <br/><br/>
    <div id="home">specialising in the design and build of hypermedia...</div>
    <br/>
    <div id="about">
        <h1>this is how we do.</h1>
        we are a small team of london based agile enthusiasts able to design, build, deliver and maintain outstanding web based applications.
        <br/><br/>
        we are passionate about agile processes; giving us a client focused approach.
        <br/><br/>

            <ul>
                <li>behaviour driven development</li>
                <li>agile focused; pair programming; test driven </li>
                <li>SOLID based object oriented development</li>
                <li>restful api design approach to scalability</li>
            </ul>
        <br/>

    </div>


  <div id="tech">
  <h1>tech.</h1>
  <table>
  <tr><td><img src="images/nodejs.png"/></td><td><img src="images/mvc.png"/></td><td><img src="images/nuget.png"/></td></tr>
  <tr><td><img src="images/npm.png"/></td><td><img src="images/github.png"/></td><td><img src="images/express.png"/></td></tr>
  <tr><td><img src="images/html.png"/></td><td><img src="images/mongo.png"/></td><td><img src="images/socket.png"/></td></tr>
  <tr><td><img src="images/cucumber.png"/></td><td><img src="images/backbone.png"/></td><td><img src="images/jquery.png"/></td></tr>
  </table>
  </div>

    <div id="services">
        <h1>services.</h1>
            <ul>
                <li>web application development</li>
                <li>e-commerce, cms, single page apps, social media web based applications</li>
                <li>web/ui/graphic design</li>
                <li>relational database development</li>
                <li>document database development</li>
                <li>web services</li>
                <li>web development/design consultancy</li>
            </ul>
        <br/>
    </div>

  <div id="blog">
  <h1>blog.</h1>




<table>
  <tr><td>
  <br/><div style="background-color:#000;color:#fff;padding:6px;width:180px;font-weight:bold;">MONDAY, 7 MAY 2012</div>
  <br/><a href="http://airasoul.blogspot.co.uk/2012/05/nodejs-boilerplate-client-side.html">node.js boilerplate - client side templating; express 3.0</a>
  <br/>The race by browser developers to develop even faster JavaScript engines has made client side templating a realistic alternative to server side templating. Any decision to use client side templating is very much a tradeoff; the following should be considered:
  <br/><a href="http://airasoul.blogspot.co.uk/2012/05/nodejs-boilerplate-client-side.html" style="float:right">read more..</a>
  </td>
  <td>
  <br/><div style="background-color:#000;color:#fff;padding:6px;width:180px;font-weight:bold;">THURSDAY, 3 MAY 2012</div>
  <br/><a href="http://airasoul.blogspot.co.uk/2012/05/dust-down-compiling-dustjs-templates.html">dust-down - compiling dust.js templates</a>
  <br/>dust-down is a node.js command line tool which will compile all dust.js templates in a given directory; and write each to a javascript file; ready to be used for client side templating.
  <br/><a href="http://airasoul.blogspot.co.uk/2012/05/dust-down-compiling-dustjs-templates.html" style="float:right">read more..</a>
  </td>
  <td>
  <br/><div style="background-color:#000;color:#fff;padding:6px;width:180px;font-weight:bold;">FRIDAY, 30 MARCH 2012</div>
  <br/><a href="http://airasoul.blogspot.co.uk/2012/03/nodejs-boilerplate-configuring-session.html">node.js boilerplate - configuring session stores</a>
  <br/>Our node-plates application is using the connect/express MemoryStore for sessions. This is fine for development; and we include it as part of our application on-going for these reasons but for production use this will not suffice.
  <br/><a href="http://airasoul.blogspot.co.uk/2012/03/nodejs-boilerplate-configuring-session.html" style="float:right">read more..</a>
  </td></tr>
  </table>
  <br/>
  <a href="http://airasoul.blogspot.co.uk/" style="float:right">more posts..</a>
  </div>

  <div id="os">
  <h1>open sauce.</h1>
  <table>
  <tr><td><img src="images/github.png"/></td><td><img src="images/npm.png"/></td><td><img src="images/nuget.png"/></td></tr>
  </table>
  </div>


  <div id="contact">
      <h1>contact.</h1>
      <table>
      <tr>
      <td>
        Email us on: <a href="mailto:mail@airasoul.net">mail@airasoul.net</a><br/>
        Call us on:: 07940413569<br/>
      </td>
      <td><img src="images/map.png"/></td>
      </tr>
      </table>

    </div>

    <div id="footer">
    Copyright &copy; 2012 airasoul limited
    <br/>Registered: UNIT 15 THOMPSON ROAD, WHITEHILLS BUSINESS PARK, BLACKPOOL, LANCASHIRE, FY4 5PN  United Kingdom
    </div>
    </div>
</div>