<div id="container">
    <img src="images/airasoul.png" id="logo"/>
    <br/><br/>
    <div id="home">specialising in the design and build of hypermedia...</div>
    <br/>
    <div id="about">
        <h1>about.<span style="margin-left:20px;font-size:14px;">this is how we do.</span></h1>
        We are a small team of london based agile enthusiasts able to design, build, deliver and maintain outstanding web based applications.  We are passionate about agile processes; giving us a client focused approach.
        <br/><br/>

		<span style="font-size:40px;font-weight:bold;">delivering value</span> <br/>    <br/>      
                <li>we practice behaviour driven development; with an outside in methodology</li>
				<br/>
		<span style="font-size:40px;font-weight:bold;">client focused </span><br/><br/>
                <li>we do agile stuff </li>
				<br/>
		<span style="font-size:40px;font-weight:bold;">delivering quality </span><br/><br/>
                <li>test driven development</li>
				<li>SOLID based object oriented development</li>
				<li>pair programming</li>
				<br/>
		<span style="font-size:40px;font-weight:bold;">we can scale </span><br/><br/>
                <li>rest based APIs</li>
				<li>cloud based solutions</li>        
				<li>decoupled design</li>
				<br/>				
	
    </div>


  <div id="tech">
  <h1>tech. <span style="margin-left:20px;font-size:14px;">this is what we use.</span></h1> 
  <table>
  <tr><td><a href="http://nodejs.org/"><img src="images/nodejs.png"/></a></td><td><a href="http://www.asp.net/mvc"><img src="images/mvc.png"/></a></td><td><a href="http://nuget.org/"><img src="images/nuget.png"/></a></td></tr>
  <tr><td><a href="http://npmjs.org/"><img src="images/npm.png"/></a></td><td><a href="https://github.com/"><img src="images/github.png"/></a></td><td><a href="http://expressjs.com/"><img src="images/express.png"/></a></td></tr>
  <tr><td><a href="http://www.w3.org/TR/2011/WD-html5-20110525/"><img src="images/html.png"/></a></td><td><a href="http://www.mongodb.org/"><img src="images/mongo.png"/></a></td><td><a href="http://socket.io/"><img src="images/socket.png"/></a></td></tr>
  <tr><td><a href="https://cukes.info/"><img src="images/cucumber.png"/></a></td><td><a href="http://documentcloud.github.com/backbone/"><img src="images/backbone.png"/></a></td><td><a href="http://jquery.com/"><img src="images/jquery.png"/></a></td></tr>
  </table>
  </div>

    <div id="services">
        <h1>services.<span style="margin-left:20px;font-size:14px;">this is what we do.</span></h1>
            <ul>
                <li>web application development</li>
                <li>e-commerce, cms, single page apps, social media</li>
                <li>web /ui/graphic design</li>
                <li>relational database development</li>
                <li>document database development</li>
                <li>rest services</li>
				<li>cloud based solutions</li>   
            </ul>
        <br/>
    </div>

  <div id="blog">
  <h1>blog.<span style="margin-left:20px;font-size:14px;">this is what we're saying.</span></h1>


<table>
  <tr>
  <td><div style="background-color:#000;color:#fff;padding:6px;width:100%;font-weight:bold;">MONDAY, 7 MAY 2012</div>
  <br/><a href="http://airasoul.blogspot.co.uk/2012/05/nodejs-boilerplate-client-side.html">node.js boilerplate - client side templating; express 3.0</a>
  <br/>The race by browser developers to develop even faster JavaScript engines has made client side templating a realistic alternative to server side templating...
  <br/><br/><a href="http://airasoul.blogspot.co.uk/2012/05/nodejs-boilerplate-client-side.html" style="float:right">read more..</a>
  </td>
  <td><div style="background-color:#000;color:#fff;padding:6px;width:100%;font-weight:bold;">THURSDAY, 3 MAY 2012</div>
  <br/><a href="http://airasoul.blogspot.co.uk/2012/05/dust-down-compiling-dustjs-templates.html">dust-down - compiling dust.js templates</a>
  <br/>dust-down is a node.js command line tool which will compile all dust.js templates in a given directory; and write each to a javascript file; ready to be used for client side templating....
  <br/><br/><a href="http://airasoul.blogspot.co.uk/2012/05/dust-down-compiling-dustjs-templates.html" style="float:right">read more..</a>
  </td>
  <td><div style="background-color:#000;color:#fff;padding:6px;width:100%;font-weight:bold;">FRIDAY, 30 MARCH 2012</div>
  <br/><a href="http://airasoul.blogspot.co.uk/2012/03/nodejs-boilerplate-configuring-session.html">node.js boilerplate - configuring session stores</a>
  <br/>Our node-plates application is using the connect/express MemoryStore for sessions. This is fine for development; but for production use this will not suffice....
  <br/><br/><a href="http://airasoul.blogspot.co.uk/2012/03/nodejs-boilerplate-configuring-session.html" style="float:right">read more..</a>
  </td></tr>
  </table>
  <br/>
  <a href="http://airasoul.blogspot.co.uk/" style="float:right">more posts..</a>
  </div>

  <div id="os">
  <h1>open sauce.<span style="margin-left:20px;font-size:14px;">cos we love it</span></h1>
  <table>
  <tr>
  <td><a href="https://github.com/AndrewKeig"><img src="images/github.png"/></a></td>
  <td><a href="http://search.npmjs.org/#/_author/Andrew%20Keig"><img src="images/npm.png"/></a></td>
  <td><a href="http://nuget.org/profiles/andrew%20keig"><img src="images/nuget.png"/></a></td>
  </tr>
  </table>
  </div>


  <div id="contact">
      <h1>contact us.<span style="margin-left:20px;font-size:14px;">this is where we be.</span></h1>
      <table>
      <tr>
      <td>
        Email us on: <a href="mailto:mail@airasoul.net">mail@airasoul.net</a><br/>
        Call us on:: 07940413569<br/>
      </td>
      <td><img src="images/map.png"/></td>
      </tr>
      </table>

    </div>

    <div id="footer">
    Copyright &copy; 2012 airasoul limited
    <br/>Registered address: UNIT 15 THOMPSON ROAD, WHITEHILLS BUSINESS PARK, BLACKPOOL, LANCASHIRE, FY4 5PN  United Kingdom
    </div>
    </div>
</div>