<div id="container">
  <div id="content">
    <img src="https://s3-eu-west-1.amazonaws.com/airasoul/images/airasoul.png" id="logo"/>
    <div id="home">specialising in the design and build of hypermedia...</div>
    <div id="about">
        <h1>about us</h1>
        we are a small team of agile enthusiasts able to design, build, deliver and maintain outstanding web based applications.
        <br/><br/>
        we are passionate about agile processes; giving us a client focused approach.
        <br/><br/>
        <b>our approach</b>
            <ul>
                <li>behaviour driven development</li>
                <li>agile focused; pair programming; test driven </li>
                <li>SOLID based object oriented development</li>
                <li>restful api design approach to scalability</li>
            </ul>
        <br/>
        <b>tools</b>
            <ul>
                <li>asp.net mvc; </li>
                <li>structure map; ninject; moq; rhino mocks</li>
                <li>mspec; specflow; cucumber; jasmine</li>
                <li>javascript; jquery, backbone.js, underscore.js</li>
                <li>nosql, mongodb; couchdb</li>
                <li>html 5, xhtml</li>
                <li>node.js, express web framework, socket.io</li>
            </ul>
    </div>
    <div id="services">
        <h1>services</h1>
            <ul>
                <li>web application development</li>
                <li>e-commerce, cms, single page apps, social media web based applications</li>
                <li>web/ui/graphic design</li>
                <li>relational database development</li>
                <li>document database development</li>
                <li>web services</li>
                <li>web development/design consultancy</li>
            </ul>
        <br/>
    </div>
  </div>
  
  <div id="navigation">
    <div class="nav_item opacity">
      <img src="https://s3-eu-west-1.amazonaws.com/airasoul/images/home.png" id="home_nav" />
    </div>
    <div class="nav_item opacity">
      <img src="https://s3-eu-west-1.amazonaws.com/airasoul/images/about.png" id="about_nav" />
    </div>
    <div class="nav_item opacity">
      <img src="https://s3-eu-west-1.amazonaws.com/airasoul/images/services.png" id="services_nav" />
    </div>
    <div class="nav_item opacity">
      <a href="http://airasoul.blogspot.com"><img src="https://s3-eu-west-1.amazonaws.com/airasoul/images/blog.png" id="blog" /></a>
    </div>
    <div class="nav_item opacity">
      <a href="http://nuget.org/profiles/andrew%20keig"><img src="https://s3-eu-west-1.amazonaws.com/airasoul/images/nuget.png" id="nuget" /></a>
    </div>
    <div class="nav_item opacity">
      <a href="https://github.com/AndrewKeig"><img src="https://s3-eu-west-1.amazonaws.com/airasoul/images/github.png" id="github" /></a>
    </div>
    <div id="footer">
        e: <a href="mailto:mail@airasoul.net">mail@airasoul.net</a><br/>
        t: 07940413569<br/>
        &copy; airasoul limited 2012</div>
  </div>
</div>