<div id="container">
    <img src="https://s3-eu-west-1.amazonaws.com/airasoul/images/airasoul.png" id="logo"/>
    <a href="https://twitter.com/#!/airasoul"><img style="float:right;padding:4px;" src="https://s3-eu-west-1.amazonaws.com/airasoul/images/twitter.png" id="twitter"/></a>
    <a href="http://www.linkedin.com/in/andrewkeig"><img style="float:right;padding:4px;" src="https://s3-eu-west-1.amazonaws.com/airasoul/images/linkedin.png" id="linkedin"/></a>
    <br/><br/>
    <div id="home">helping humans to operate within the domain of complex hypermedia based information structures..</div>
    <br/>
	
    <div id="about">
        <h1>about.</h1>
        We are a small team of london based agile enthusiasts able to design, build, deliver and maintain outstanding web based applications.  We are passionate about agile processes; giving us a client focused approach.
        <br/><br/>
            <table>
                <tr>
                <td>
                <span style="font-size:40px;font-weight:bold;">we deliver value</span> <br/><br/>
                                <li>we practice behaviour driven development</li>
                                <li>follow an outside in methodology</li>
                                <li>feature driven development</li>
                </td>
                <td>
                <span style="font-size:40px;font-weight:bold;">we are client focused </span><br/><br/>
                                <li>we do agile stuff </li>
                                <li>we like transparency</li>
                				<br/>
                </td>
                </tr>
                <tr>
                <td>
                <span style="font-size:40px;font-weight:bold;">quality</span><br/><br/>
                                <li>we practice test driven development</li>
                				<li>SOLID based object oriented development</li>
                				<li>we practice pair programming</li>
                				<li>we prefer rest/resource based APIs</li>
                                <li>cloud based solutions</li>
                </td>
                <td>
                <span style="font-size:40px;font-weight:bold;">building for success</span><br/><br/>
                                <li>in order to build the product you want</li>
                                <li>whilst keeping cost low</li>
                                <li>and delivering on time</li>
                                <li>with a view to future scale</li>
                                <li>and respond to change</li>

                </td>
                </tr>

            </table>

    </div>


    <div id="services">
        <h1>services.</h1>
            <table>
            <tr>
            <td>
            <ul>
                            <li>web application development</li>
                            <li>real time communication</li>
                            <li>web and graphic design</li>
                            <li>relational database development</li>
                            <li>search engine optimisation</li>
                        </ul>
            </td>
            <td>
            <ul>
                            <li>e-commerce, cms, mobile, single page application, social media</li>
                            <li>document database development</li>
                            <li>rest services</li>
            				<li>cloud based solutions</li>
                        </ul>
                        </td>
            </tr>
            </table>

        <br/>
    </div>
  <div id="tech">
  <h1>tech.</h1>
  <table>
  <tr><td><a href="http://nodejs.org/"><img src="https://s3-eu-west-1.amazonaws.com/airasoul/images/nodejs.png"/></a></td>
  <td><a href="http://www.asp.net/mvc"><img src="https://s3-eu-west-1.amazonaws.com/airasoul/images/mvc.png"/></a></td>
  <td><a href="http://nuget.org/"><img src="https://s3-eu-west-1.amazonaws.com/airasoul/images/nuget.png"/></a></td></tr>
  <tr><td><a href="http://npmjs.org/"><img src="https://s3-eu-west-1.amazonaws.com/airasoul/images/npm.png"/></a></td>
  <td><a href="https://github.com/"><img src="https://s3-eu-west-1.amazonaws.com/airasoul/images/github.png"/></a></td>
  <td><a href="http://expressjs.com/"><img src="https://s3-eu-west-1.amazonaws.com/airasoul/images/express.png"/></a></td></tr>
  <tr><td><a href="http://www.w3.org/TR/2011/WD-html5-20110525/"><img src="https://s3-eu-west-1.amazonaws.com/airasoul/images/html.png"/></a></td>
  <td><a href="http://www.mongodb.org/"><img src="https://s3-eu-west-1.amazonaws.com/airasoul/images/mongo.png"/></a></td>
  <td><a href="http://socket.io/"><img src="https://s3-eu-west-1.amazonaws.com/airasoul/images/socket.png"/></a></td></tr>
  <tr><td><a href="https://cukes.info/"><img src="https://s3-eu-west-1.amazonaws.com/airasoul/images/cucumber.png"/></a></td>
  <td><a href="http://documentcloud.github.com/backbone/"><img src="https://s3-eu-west-1.amazonaws.com/airasoul/images/backbone.png"/></a></td>
  <td><a href="http://jquery.com/"><img src="https://s3-eu-west-1.amazonaws.com/airasoul/images/jquery.png"/></a></td></tr>
  <tr><td><a href="http://signalr.net/"><img src="https://s3-eu-west-1.amazonaws.com/airasoul/images/signalr.png"/></a></td>
  <td><a href="http://www.rabbitmq.com/"><img src="https://s3-eu-west-1.amazonaws.com/airasoul/images/rabbit.png"/></a></td>
  <td><a href="http://aws.amazon.com/"><img src="https://s3-eu-west-1.amazonaws.com/airasoul/images/aws.png"/></a></td></tr>
  <tr><td><a href="http://www.specflow.org"><img src="https://s3-eu-west-1.amazonaws.com/airasoul/images/specflow.png"/></a></td>
  <td><a href="http://visionmedia.github.com/mocha/"><img src="https://s3-eu-west-1.amazonaws.com/airasoul/images/mocha.png"/></a></td>
  <td></td></tr>
  </table>
  </div>


  <div id="blog">
  <h1>blog.</h1>


<table>
  <tr>
   <td><div style="background-color:#000;color:#fff;padding:6px;width:100%;font-weight:bold;">MONDAY, 10 SEPTEMBER 2012</div>
  <br/><a href="http://airasoul.blogspot.co.uk/2012/09/enquirejs-overriding-dependencies-in.html">enquire.js, overriding dependencies in node.js.</a>
  <br/>enquire.js provides a simple convention based solution to overriding dependencies in node.js... 
  <br/><br/><a href="http://airasoul.blogspot.co.uk/2012/09/enquirejs-overriding-dependencies-in.html" style="float:right">read more..</a>
  </td>
 
  <td><div style="background-color:#000;color:#fff;padding:6px;width:100%;font-weight:bold;">MONDAY, 18 JUNE 2012</div>
  <br/><a href="http://airasoul.blogspot.co.uk/2012/06/nodejs-boilerplate-ssltls-with-express.html">node.js boilerplate - SSL/TLS with express & socket.io</a>
  <br/>We would like to secure various pages of our node.js boilerplate; we have in place a very crude but functioning login form...
  <br/><br/><a href="http://airasoul.blogspot.co.uk/2012/06/nodejs-boilerplate-ssltls-with-express.html" style="float:right">read more..</a>
  </td>
 
  
  <td><div style="background-color:#000;color:#fff;padding:6px;width:100%;font-weight:bold;">MONDAY, 7 MAY 2012</div>
  <br/><a href="http://airasoul.blogspot.co.uk/2012/05/nodejs-boilerplate-client-side.html">node.js boilerplate - client side templating; express 3.0</a>
  <br/>The race by browser developers to develop even faster JavaScript engines has made client side templating a realistic alternative to server side templating...
  <br/><br/><a href="http://airasoul.blogspot.co.uk/2012/05/nodejs-boilerplate-client-side.html" style="float:right">read more..</a>
  </td>
 </tr>
  </table>
  <br/>
  <a href="http://airasoul.blogspot.co.uk/" style="float:right">more posts..</a>
  </div>

  <div id="os">
  <h1>open sauce.</h1>
  <table>
  <tr>
  <td><a href="https://github.com/AndrewKeig"><img src="https://s3-eu-west-1.amazonaws.com/airasoul/images/github.png"/></a></td>
  <td><a href="https://npmjs.org/~airasoul"><img src="https://s3-eu-west-1.amazonaws.com/airasoul/images/npm.png"/></a></td>
  <td><a href="http://nuget.org/profiles/andrew%20keig"><img src="https://s3-eu-west-1.amazonaws.com/airasoul/images/nuget.png"/></a></td>
  </tr>
  </table>
  </div>


  <div id="contact">
      <h1>contact us.</h1>
      <table>
      <tr>
      <td>
        Please contact us for more details and find out what airasoul can offer your company.<br/><br/>
        Email us on: <a href="mailto:mail@airasoul.net">mail@airasoul.net</a><br/>
        Call us on:: 07940413569<br/>
      </td>
      <td><img src="https://s3-eu-west-1.amazonaws.com/airasoul/images/map.png"/></td>
      </tr>
      </table>

    </div>

    <div id="footer">
    Copyright &copy; 2012 airasoul limited
    <br/>Registered address: UNIT 15 THOMPSON ROAD, WHITEHILLS BUSINESS PARK, BLACKPOOL, LANCASHIRE, FY4 5PN  United Kingdom
    </div>
    </div>
</div>