<html>
<head>
<title><%= title %></title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<script src="https://s3-eu-west-1.amazonaws.com/airasoul/javascripts/airasoul.js"></script>
<link rel="stylesheet" href="https://s3-eu-west-1.amazonaws.com/airasoul/css/style.css"/>
<script>
$(document).ready(function(){
airasoul.initialise();
$('.nav_item').hover( function () { airasoul.un_illuminate(this); }, function () { airasoul.illuminate(this); });
$('#home_nav').click( function () { airasoul.toggle('home'); });
$('#about_nav').click( function () { airasoul.toggle('about'); });
$('#services_nav').click( function () { airasoul.toggle('services'); });
});
</script>
</head>
<body><%-body%></body>
</html>