* { margin: 0; padding: 0; }
html {
    background: black;
    color:white;
    font-family:helvetica;
}

.opacity {
    opacity:0.6;
    filter:alpha(opacity=60);
}

h1 {
    margin-bottom: 10px;
}

#loading {
    position: fixed;
    top: 45%;
    left: 45%;
}

#container {
    margin: auto;
    width:680px;
    margin-top:100px;
}

#content {
    float:left;
    width:450px;
}

#home {
    padding: 20px;
}

#about {
    padding: 20px;
}

#services {
    padding: 20px;
}

#footer{
    margin-left:26px;
    font-size: 12px;
    margin-top: 40px;
    opacity:0.6;
    filter:alpha(opacity=60);
}


#navigation {
	float:right;
    margin-top:20px;
}
.nav_item {
	cursor:pointer;
	padding:0px;    
	margin-left:20px;
	margin-bottom:20px;
}

ul{
    margin-top:6px;
}

li{
    list-style: square;
    margin-left: 40px;
}

a {
    color:#fff;
    text-decoration: none;
}

a:hover{
    color:#8a2be2;
}