* { margin: 0; padding: 0; }
html {
    background: #fff;
    color:#000;
    font-family:helvetica;
}

table
{
    border-collapse:collapse;
}
table,th,td
{
    padding:40px;
    border:1px solid #ddd;
    font-size:12px;
}

.opacity {
    opacity:0.6;
    filter:alpha(opacity=60);
}

h1 {
    margin-bottom: 10px;
    font-size: 80px;
    font-weight: bolder;
    border-bottom: dotted 1px #000;
    margin-bottom:40px;
}

#container {
    margin: auto;
    width:1000px;
    margin-top:100px;
    font-size: 26px;

}

#home {
    padding: 20px;
    font-size: 48px;
}

#about {
    padding: 20px;
}

#services {
    padding: 20px;
}

#contact {
    padding: 20px;
}

#blog {
    padding: 20px;
}

#tech {
    padding: 20px;
}

#footer {
    padding: 20px;
    font-size: 10px;
}

ul{
    margin-top:6px;
}

li{
    list-style: square;
    margin-left: 40px;
}

a {
    color:blue;
    text-decoration: none;
}

a:hover{
    color:#8a2be2;
}